<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <link rel="stylesheet" href="/assets/css/create.css">
</head>
<body>
<div id="form-container">
    <form method="post" action="/create/reply-markup">
        <h2 class="heading">Reply Markup</h2>
        <label for="state">State</label>
        <select id="state" name="state" required="true">
            <option value="" disabled selected>Выберите состояние</option>
            {{ range .States }}
            <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select>
        <label for="language">Language</label>
        <select id="language" name="language" required="true">
            <option value="" disabled selected>Выберите язык</option>
            <option value="kz">kz</option>
            <option value="ru">ru</option>
            <option value="en">en</option>
        </select>
        <label id="message" class="hidden">Message</label>
        <select id="kzMsgGroup" name="kzMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.KzMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <select id="ruMsgGroup" name="ruMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.RuMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <select id="enMsgGroup" name="enMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.EnMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <label id="messageReply" class="hidden">Message</label>
        <select id="kzReplyMsgGroup" name="kzMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.KzMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <select id="ruReplyMsgGroup" name="ruMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.RuMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <select id="enReplyMsgGroup" name="enMsgGroup" class="hidden">
            <option value="" disabled selected>Выберите message</option>
            {{ range .MessageGroups }}
            <option value="{{.ID}}">{{.EnMsg.MsgTrigger}}</option>
            {{end}}
        </select>
        <input type="submit" value="Создать шаблон клавиатуры">
    </form>
</div>
<div id="links">
    <a href="/create/">Назад</a>
</div>
<script src="/assets/js/createReplyMarkup.js"></script>
</body>
</html>