<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <link rel="stylesheet" href="/assets/css/create.css">
</head>
<body>
<div id="form-container">
    <form method="post" action="/create/state">
        <h2 class="heading">State</h2>
        <label for="stateName">State name</label>
        <input id="stateName" name="stateName" required="true" placeholder="Name..." type="text">
        <input type="submit" value="Создать состояние">
    </form>
</div>
<div id="links">
    <a href="/create/">Назад</a>
</div>
</body>
</html>